html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
    display: flex;
}

section:nth-child(odd){
    background: rgb(91, 91, 91);
}

nav {
    padding: 0 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    background-color: aqua;
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 3em;
    list-style: none;
    /* margin-right: 2em; */
}

nav ul li a{
    text-decoration: none;
}

.menuburger{
    display: none;
}

.bar1{
    width: 40px;
    height: 5px;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 5px;
}

.bar2{
    width: 40px;
    height: 5px;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 5px;
}

.bar3{
    width: 40px;
    height: 5px;
    background-color: black;
    border-radius: 50px;
}

@media (max-width: 650px) {
    nav {
        padding: 0;
        margin-top: 0;
        background: none;
        width: 100vw;
        height: 10vh;
        position: fixed;
    }

    nav img{
        margin-left: 1em;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 50vh;
        align-items: left;
        justify-content: space-evenly;
        background-color: aqua;
        gap: 1.5em;
        list-style: none;
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
    }

    .menuburger{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 1em;
        background-color: rgba(73, 73, 73, 0.148);
        z-index: 5;
        padding: 5px;
    }

    .links{
        visibility: hidden;
    }

}