html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

.iconemenu{
    width: 2.5em;
    height: 2.5em;
}

.line1 {
    /* before */
    stroke-dasharray: 16 50;
    stroke-dashoffset: 0;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line2{
    /* before */
    stroke-dasharray: 16 50;
    stroke-dashoffset: 0;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line3{
    /* before */
    stroke-dasharray: 16 50;
    stroke-dashoffset: 0;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* X Icon */

.opened .line1 {
    /* after */
    stroke-dasharray: 20 50;
    stroke-dashoffset: -31;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.opened .line2 {
    /* after */
    stroke-dasharray: 20 50;
    stroke-dashoffset: -31;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.opened .line3 {
    /* after */
    stroke-dasharray: 0 16;
    stroke-dashoffset: -9;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

section{
    min-height: 100vh;
    display: flex;
}

section:nth-child(odd){
    background: rgb(91, 91, 91);
}

nav {
    padding: 0.3em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    background-color: aqua;
    border-radius: 40px;
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 3em;
    list-style: none;
    /* margin-right: 2em; */
}

nav ul li a{
    text-decoration: none;
}

.menuburger{
    display: none;
}

@media (max-width: 650px) {
    nav {
        padding: 0;
        margin-top: 0;
        background: none;
        width: 100vw;
        height: 10vh;
        position: fixed;
    }

    nav img{
        margin-left: 1em;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 50vh;
        overflow: hidden;
        align-items: left;
        justify-content: space-evenly;
        background-color: aqua;
        gap: 1.5em;
        list-style: none;
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
    }

    .menuburger{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 1em;
        background-color: rgba(73, 73, 73, 0.148);
        z-index: 5;
        padding: 5px;
    }

    .links{
        visibility: hidden;
    }

}